In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from pathlib import Path

In [2]:
df=pd.read_csv(r"C:\Users\iamli\OneDrive\Desktop\Pricing\data\raw\car_sales_data.csv")
df.head()

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,VW,Polo,1.0,Petrol,2006,127869,4101

In [3]:
df.shape
df.isnull().sum()

Manufacturer           0
Model                  0
Engine size            0
Fuel type              0
Year of manufacture    0
Mileage                0
Price                  0
dtype: int64

In [4]:
# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print("Cleaned columns:", df.columns.tolist())

Cleaned columns: ['manufacturer', 'model', 'engine_size', 'fuel_type', 'year_of_manufacture', 'mileage', 'price']

In [5]:
# Convert columns to proper types
df['year_of_manufacture'] = df['year_of_manufacture'].astype(int)
df['mileage'] = df['mileage'].astype(int)
df['price'] = df['price'].astype(float)
df['engine_size'] = df['engine_size'].astype(float)
df

,manufacturer,model,engine_size,fuel_type,year_of_manufacture,mileage,price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074.0
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704.0
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072.0
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705.0
4,VW,Polo,1.0,Petrol,2006,127869,4101.0
...,...,...,...,...,...,...,...
49995,BMW,M5,5.0,Petrol,2018,28664,113006.0
49996,Toyota,Prius,1.8,Hybrid,2003,105120,9430.0
49997,Ford,Mondeo,1.6,Diesel,2022,4030,49852.0
49998,Ford,Focus,1.0,Diesel,2016,26468,23630.0
49999,VW,Golf,1.4,Diesel,2012,109300,10400.0

In [14]:
def split_save(df, test_size):
    train_df,test_df= train_test_split(
        df,
        test_size=test_size,
        random_state=0
    )
    BASE_DIR = Path.cwd().parent       
    DATA_DIR = BASE_DIR / "data" / "processed"
    
    DATA_DIR.mkdir(parents=True, exist_ok=True)

    train_df.to_csv(DATA_DIR / "train.csv", index=False)
    test_df.to_csv(DATA_DIR / "test.csv", index=False)

split_save(df,0.2)